{% extends "components/base.html" %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">{{ encabezado }}</h1>

        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">{{ submenu }}</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nowrap w-100" id="basic-datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Color</th>
                                <th>Factor Tiempo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in tipos_entrega %}
                            <tr>
                                <td>{{ t.idtipoentrega }}</td>
                                <td>{{ t.descripcion }}</td>
                                <td>{{ t.color }}</td>
                                <td>{{ t.factorTiempo }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No hay registros para mostrar.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
	$(document).ready(function()
	{
	$("#basic-datatable").dataTable().fnDestroy();
	$('#basic-datatable').DataTable({

					language: {
						"search": "Buscar:",
						"infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
						"info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
						"infoFiltered": "(Filtrado de _MAX_ total entradas)",
						"lengthMenu": "Mostrar _MENU_ Entradas",
						"loadingRecords": "Cargando...",
						"processing": "Procesando...",
						"paginate": {
							"first": "Primero",
							"last": "Ultimo",
							"next": "Siguiente",
							"previous": "Anterior"
						},

					},
				});

	})
</script>
{% endblock %}