{% extends 'components/base.html' %}
{% block title %}
    {{ titulo }}
{% endblock %}
{% load humanize %}

{% block body %}

<!-- PAGE-HEADER -->
	<div class="page-header">
		<div>
			<h1 class="page-title">{{encabezado}}</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">{{menu}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{submenu}}</li>
			</ol>
		</div>

	</div>


	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="table-responsive">
					<table class="table table-bordered table-striped nowrap w-100" id="basic-datatable">
						<thead>
							<tr align="center">
								<th scope="col">Visor </th>
								<th scope="col">N° Proyecto</th>
								<th scope="col">Ultimo Seg.</th>
								<th scope="col">Nombre Proyecto</th>
								<th scope="col">Forma de Pago</th>
								<th scope="col">Mandante</th>
								<th scope="col">Cliente</th>
								<th scope="col">x Facturar</th>
								<th scope="col">Estado</th>
							</tr>
						</thead>
						<tbody>
							{% for c in proyecto %}
								<tr class="border-bottom">
									<td align="center" class="">
										<a class="btn-primary btn" href="{% url 'visor-comentario' pk=c.0 tabla=1 %}"><i class="fa fa-address-card-o fa-2x"></i></a>
									</td>
									<td class="text-muted fs-12 fw-semibold">{{c.0}} </td>
									<td class="mb-0 fs-12 fw-semibold">{{c.33}}</td>
									<td class="mb-0 fs-12 fw-semibold">{{c.3}} </td>
									<td class="mb-0 fs-12 fw-semibold">{{c.6}} </td>
									<td class="mb-0 fs-12 fw-semibold">{{c.10}} </td>
									<td class="mb-0 fs-12 fw-semibold">{{c.16}} </td>
									<td align="right" class="text-muted fs-12 fw-semibold">{{c.20|floatformat:2|intcomma }}%</td>
									<td class="fs-11 fw-semibold">{{c.12}}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<!-- ROW-2 CLOSED -->
{% endblock body %}

{% block extra_js %}
<script>
	$(document).ready(function()
	{
	$("#basic-datatable").dataTable().fnDestroy();
	$('#basic-datatable').DataTable({

					language: {
						"search": "Buscar:",
						"infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
						"info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
						"infoFiltered": "(Filtrado de _MAX_ total entradas)",
						"lengthMenu": "Mostrar _MENU_ Entradas",
						"loadingRecords": "Cargando...",
						"processing": "Procesando...",
						"paginate": {
							"first": "Primero",
							"last": "Ultimo",
							"next": "Siguiente",
							"previous": "Anterior"
						},

					},
				});

	})
</script>
{% endblock %}	


