{% extends 'components/base.html' %}
{% block title %}
    {{titulo}}
{% endblock %}
{% load humanize %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="{% url 'registro-vacaciones' %}" class="btn btn-primary btn-icon text-white me-2"><i>Registros</i></a>
        <div class="table-responsive">
            <h1>
                {{encabezado}} 
            </h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha Contrato</th>
                        <th>Días Utilizados</th>
                        <th>Días Disponibles</th>
                        <th>Días Totales</th>
                        <th>Meses Totales</th>>
                        <th colspan="2">Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in personas %}
                    <tr>
                        <td>{{c.user_per}}</td>
                        <td>{{c.feccon}}</td>
                        <td>{{c.suma_dias_vacaciones|floatformat:2}}</td>
                        <td>{{c.dias_pendientes|floatformat:2}}</td>
                        <td>{{c.dias_totales|floatformat:2}}</td>
                        <td>{{c.meses_totales|floatformat:2}}</td>
                        <td>
                            <a class="btn btn-outline-success" href="{% url 'detalle-vacaciones' c.id %}"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
