{% load static%} 			
			<!--APP-SIDEBAR-->
			<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
				<aside class="app-sidebar">
					<div class="side-header">
						<a class="header-brand1" href="">
							<img src="{% static ''%}assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
							<img src="{% static ''%}assets/images/brand/logo-1.png" class="header-brand-img toggle-logo" alt="logo">
							<img src="{% static ''%}assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
							<img src="{% static ''%}assets/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo">
						</a>
					</div>
					<ul class="side-menu">
						<li><h3>Menu</h3></li>
						<li class="slide">
							<a class="side-menu__item"  data-bs-toggle="slide" href="{% url 'home' %}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Resumen</span></a>
						</li>

						<li><h3>Módulo de Ventas</h3></li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-pie-chart"></i><span class="side-menu__label">Clientes</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="{% url 'reporte_clientes' %}" class="slide-item">Clientes Principales</a></li>
								<li><a href="{% url 'reporte_clientes' %}" class="slide-item"> Agenda Clientes</a></li>
							</ul>
						</li><h3>proyectos</h3> 
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-clipboard"></i><span class="side-menu__label">Seguimiento</span><span class="badge bg-secondary side-badge">2</span></a>
							<ul class="slide-menu">
								<li><a href="{% url 'vista1' %}" class="slide-item"> Proyectos terminados</a></li>
								<li><a href="{% url 'vista2' %}" class="slide-item"> Proyectos visto bueno</a></li>
								<li><a href="{% url 'vista3' %}" class="slide-item"> Proyectos en desarrollo</a></li>
							</ul>
						</li>

						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-clipboard"></i><span class="side-menu__label">Administración</span><span class="badge bg-secondary side-badge">2</span></a>
							<ul class="slide-menu">
								<li><a href="{% url 'reporte_proyectos' %}" class="slide-item"> Listado de Proyectos</a></li>


							</ul>
						</li>



						<li><h3>Configuración</h3></li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">tablas</span><span class="badge bg-success side-badge">5</span></a>
							<ul class="slide-menu">
								<li><a href="{% url 'lista-categoria' %}" class="slide-item"> Categorías</a></li>
								<li><a href="{% url 'lista-tipo-entrega' %}" class="slide-item"> Tipo de Entrega</a></li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-command"></i><span class="side-menu__label">Vacaciones</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="{% url 'listado-vacaciones' %}" class="slide-item"> Listado resumen</a></li>
								<li><a href="{% url 'registro-vacaciones' %}" class="slide-item"> Registro de Vacaciones</a></li>
							</ul>
						</li>
						<!-- <li><h3>Pages</h3></li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Pages</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="profile" class="slide-item"> Profile</a></li>
								<li><a href="editprofile" class="slide-item"> Edit Profile</a></li>
								<li><a href="email" class="slide-item"> Mail-Inbox</a></li>
								<li><a href="emailservices" class="slide-item"> Mail-Compose</a></li>
								<li><a href="gallery" class="slide-item"> Gallery</a></li>
								<li><a href="about" class="slide-item"> About Company</a></li>
								<li><a href="services" class="slide-item"> Services</a></li>
								<li><a href="faq" class="slide-item"> FAQS</a></li>
								<li><a href="terms" class="slide-item"> Terms</a></li>
								<li><a href="invoice" class="slide-item"> Invoice</a></li>
								<li><a href="pricing" class="slide-item"> Pricing Tables</a></li>
								<li><a href="blog" class="slide-item"> Blog</a></li>
								<li><a href="empty" class="slide-item"> Empty Page</a></li>
								<li><a href="construction" class="slide-item"> Under Construction</a></li>
							</ul>
						</li> -->
						<!-- <li><h3>E-Commerce</h3></li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">E-Commerce</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="shop" class="slide-item"> Shop</a></li>
								<li><a href="shopdescription" class="slide-item">Product Details</a></li>
								<li><a href="cart" class="slide-item"> Shopping Cart</a></li>
								<li><a href="wishlist" class="slide-item"> Wishlist</a></li>
								<li><a href="checkout" class="slide-item"> Checkout</a></li>
							</ul>
						</li> -->
						<!-- <li><h3>Custom & Error Pages</h3></li>
						<li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-settings"></i><span class="side-menu__label">Custom Pages</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="login" class="slide-item"> Login</a></li>
								<li><a href="register" class="slide-item"> Register</a></li>
								<li><a href="forgotpassword" class="slide-item"> Forgot Password</a></li>
								<li><a href="lockscreen" class="slide-item"> Lock screen</a></li>
							</ul>
						</li> -->
						<!-- <li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-info"></i><span class="side-menu__label">Error Pages</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="error400" class="slide-item"> 400</a></li>
								<li><a href="error401" class="slide-item"> 401</a></li>
								<li><a href="error403" class="slide-item"> 403</a></li>
								<li><a href="error404" class="slide-item"> 404</a></li>
								<li><a href="error500" class="slide-item"> 500</a></li>
								<li><a href="error503" class="slide-item"> 503</a></li>
							</ul>
						</li> -->
						<!-- <li class="slide">
							<a class="side-menu__item" data-bs-toggle="slide" href="#">
							<i class="side-menu__icon fe fe-sliders"></i>
							<span class="side-menu__label">Submenus</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="#" class="slide-item">Level-1</a></li>
								<li class="sub-slide">
									<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span class="sub-side-menu__label">Level-2</span><i class="sub-angle fa fa-angle-right"></i></a>
									<ul class="sub-slide-menu">
										<li><a class="sub-slide-item" href="#">Level-2.1</a></li>
										<li><a class="sub-slide-item" href="#">Level-2.2</a></li>
										<li class="sub-slide2">
											<a class="sub-side-menu__item2" href="#" data-bs-toggle="sub-slide2"><span class="sub-side-menu__label2">Level-2.3</span><i class="sub-angle2 fa fa-angle-right"></i></a>
											<ul class="sub-slide-menu2">
												<li><a href="#" class="sub-slide-item2">Level-2.3.1</a></li>
												<li><a href="#" class="sub-slide-item2">Level-2.3.2</a></li>
												<li><a href="#" class="sub-slide-item2">Level-2.3.3</a></li>
											</ul>
										</li>
										<li><a class="sub-slide-item" href="#">Level-2.4</a></li>
										<li><a class="sub-slide-item" href="#">Level-2.5</a></li>
									</ul>
								</li>
							</ul>
						</li> -->
					</ul>
				</aside>
				<!--/APP-SIDEBAR-->