{% load static%}         
        <!-- TITLE -->
        <title>DUCTO SISTEMAS</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static ''%}assets/images/brand/favicon.ico" />

        <!-- BOOTSTRAP CSS -->
        <link href="{% static ''%}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

        <!-- STYLE CSS -->
        <link href="{% static ''%}assets/css/style.css" rel="stylesheet"/>
        <link href="{% static ''%}assets/css/dark-style.css" rel="stylesheet"/>
        <link href="{% static ''%}assets/css/skin-modes.css" rel="stylesheet" />

        <!-- SIDE-MENU CSS -->
        <link href="{% static ''%}assets/css/sidemenu.css" rel="stylesheet" id="sidemenu-theme">

        <!-- P-scroll bar css-->
        <link href="{% static ''%}assets/plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet" />

        <!--- FONT-ICONS CSS -->
        <link href="{% static ''%}assets/css/icons.css" rel="stylesheet"/>

        <!-- SIDEBAR CSS -->
        <link href="{% static ''%}assets/plugins/sidebar/sidebar.css" rel="stylesheet">

        <!-- COLOR SKIN CSS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static ''%}assets/colors/color1.css" />